/* Navbar */
body {
    background-color: #dee9ff;
}
.navbar {
    background-color: gray;
    overflow: hidden;
    width: 100%;
    box-shadow: 1px 1px #155c11;
    padding: 10px 16px;
    z-index: 1;
}

.navbar-toggler-icon{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float: none;
}

.navbar-nav li a {
    color: rgb(60,179,113);
}

.navbar-nav li a:hover {
    background-color:rgb(105,105,105);
    color:rgb(154,205,50);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky + .converter {
    padding-top: 87px;
}

/* Make navbar items colour effect */
.nav-item {
	--x: 50%;
	--y: 50%;
	appearance: none;
	padding: 0.5em 2em;
	color: white;
	cursor: pointer;
	outline: none;
	border-radius: 100px;
	border: 5px solid transparent;
	background: linear-gradient(rgb(56,56,56), rgb(56,56,56)) padding-box, radial-gradient(farthest-corner at var(--x) var(--y), #00C9A7, #845EC2) border-box;
}

html {
font-family: Open Sans,sans-serif;
overflow-y: scroll;
height: 1500px;
line-height: 1.66667;
scroll-behavior: smooth;
}

.top-container {
    background-color:rgb(104,104,104);
}

/* Money Logo */
img.picture1 {
    width:30px;
    height:30px;
    float: left; 
    margin: 0 10px 10px 0;
}

/* Picture Slider Pictures */
img.d-block {
    width:450px;
    height:340px;
}

/* Top Card */
.card-block {
    font-size: 1em;
    position: relative;
    margin: 0;
    padding: 1em;
    border: none;
    border-top: 1px solid rgba(34, 36, 38, .1);
    box-shadow: none;
     
}
.card {
    font-size: 1em;
    overflow: hidden;
    padding: 5;
    border: none;
    border-radius: .28571429rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top:20px;
}

.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators li {
    border-radius: 12px;
    width: 12px;
    height: 12px;
    background-color: #404040;
}
.carousel-indicators .active {
    background-color: white;
    max-width: 12px;
    margin: 0 3px;
    height: 12px;
}

.btn {
  margin-top: auto;
  transition: 2s;
}

/* Clock */
.datetime{
    margin: 0 auto;
    color: #fff;
    background: #10101E;
    border: 3px solid #2E94E3;
    font-family: "Segoe UI", sans-serif;
    width: 280px;
    padding: 12px 8px;
    border-radius: 5px;
    transition: 0.5s;
}
  
.datetime:hover{
    margin: 0 auto;
    background: #2E94E3;
    box-shadow: 0 0 30px #2E94E3;
}
  
.date{
    margin: 0 auto;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
  
.time{
    margin: 0 auto;
    font-size: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.time span:not(:last-child){
    margin: 0 auto;
    position: relative;
    margin: 0 6px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 3px;
}
  
.time span:last-child{
    margin: 0 auto;
    background: #2E94E3;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    margin-top: 10px;
    padding: 0 5px;
    border-radius: 3px;
}

.converter {
    background-color:#dee9ff;
}

/* "Adding Transaction title" */
div.main-title {
    margin-bottom: 30px;
    color: #151B54;
    overflow: hidden;
    display: flex;
    justify-content: center;
    background: 50% 100% / 50% 50% no-repeat
                radial-gradient(ellipse at bottom,#151B54, transparent, transparent);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 4vw;
    font-family: "Source Sans Pro", sans-serif;
    animation: reveal 3000ms ease-in-out forwards 200ms,
               glow 2500ms linear infinite 2000ms;}
  
@keyframes reveal {
    80%{
    letter-spacing: 8px;
    }
    100% {
    background-size: 300% 300%;
    }
}
@keyframes glow {
    40% {
    text-shadow: 0 0 8px #151B54;
    }
}

/* Day/Night button */
input.check {
    float: right;
    margin-right: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-appearance: none;
    position: relative;
    width: 100px;
    height: 50px;
    background-image: url(https://i.postimg.cc/857jHw2q/Screenshot-2020-04-16-at-1-07-06-PM.png);
    background-size: cover;
    border-radius: 25px;
    outline: none;
    transition: background-image .90s;
    box-shadow: 0px 2px 5px 1px gray;
}
  
input.check:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
    width: 50px;
    background-color: navy;
    border-radius: 25px;
    transition: all .9s;
    background-color: #F7CA33;
}
  
input.check:checked {
    background-image: url(https://i.postimg.cc/Hn0nstVK/Screenshot-2020-04-16-at-1-07-19-PM.png);
    transition: background-image .90s;
}
  
input.check:checked:before {
    transform: translate(100%);
    transition: all .9s;
    background-color: #ECF0F3;
}

/* Add transaction Form */
.add-form {
    margin-top: 50px;
}
.add-form.form-group{
	padding: 50px 0;
}

.add-form form{
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    padding: 50px 70px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
}

#selectc,#selectcat,#date-input,#conversion,#date-inputs {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}

.add-form .item{
	border-radius: 20px;
    margin-bottom: 25px;
}

.add-form .add-trans{
    border-radius: 30px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    background-color: #5791ff;
    border: none;
    color: white;
    margin-top: 20px;
}   

/* Clear expenditure button */
#clear {
    background: #10101E;
    border: 3px solid #2E94E3;
    color: #fff;
    margin-left: 200px;
    padding: 12px 8px;
    border-radius: 10px;
}

/* Recent Transactions */
#recent {
    background-color: #fff;
    max-width: 600px;
    margin: auto;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    text-align: center;
    height: 500px;
    overflow: scroll;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* Daily Expenditure */
#date-input1 {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    max-width: 600px;
    margin: auto;
}

@import url('https://fonts.googleapis.com/css?family=Poppins:600&display=swap');
.pie_chart_content {
    height: 800px;
    text-align: center;
    font-size: 14px;
    color: white;
}

.pie_chart_content .container {
	background-color: white;
	border-radius: 40px;
	padding: 0px;
}

.dtotal {
	border: none;
	color: white;
}

.dentertainment {
	background-color: #DAF7A6;
	border: none;
	color: white;
}

.dfood {
	background-color: #FFC300;
	border: none;
	color: white;
}

.dbills {
	background-color: #FF5733;
	border: none;
	color: white;
}

.dtransport {
	background-color : #C70039;
	border: none;
	color: white;
}

.dothers {
	background-color: #581845;
	border: none;
	color: white;
}

.form-control:focus {
	background-color: transparent;
	border: none;
}

.input-block {
	font-size: 15px;
}

.input-block input {
	border: 0;
	border-radius: 5px;
	padding: 10px;
	font-size: 0.8em;
	outline: 0;
	margin-left: 16px;
}

/* Monthly Expenditure */
#date-input2 {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    max-width: 600px;
    margin: auto;
}

.mtotal {
	border: none;
	color: white;
}

.form-control:disabled,
.form-control[readonly] {
	background-color: #3546b0;
	opacity: 1;
}

.mentertainment {
	background-color: #DAF7A6;
	border: none;
	color: white;
}

.mfood {
	background-color: #FFC300;
	border: none;
	color: white;
}

.mbills {
	background-color: #FF5733;
	border: none;
	color: white;
}

.mtransport {
	background-color : #C70039;
	border: none;
	color: white;
}

.mothers {
	background-color: #581845;
	border: none;
	color: white;
}

/* Budget Information */
#date-input3 {
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    max-width: 600px;
    margin: auto;
}

.main_box h1 {
	padding: 50px 0px 50px 0px;
	font-size: 25px;
	color: black;
}

.main_box {
	background-color: white;
	height: 100%;
	border-bottom-left-radius: 30px;
	border-top-left-radius: 30px;
}

.count_box {
	background-color: #182d6e;
	border-bottom-right-radius: 30px;
    border-top-right-radius: 30px;
	height: 100%;
	padding: 100px;
}

.totalbudget {
	border: none;
	color: white;
}

.budgetspent {
	background-color: #DAF7A6;
	border: none;
	color: white;
}

.budgetleft {
	background-color: #FFC300;
	border: none;
	color: white;
}

.overspent {
    color:white;
    background-color: red;
}

.budget_chart_content {
    height: 550px;
    text-align: center;
    font-size: 14px;
    color: white;
}

.budget_chart_content .container {
	background-color: white;
	border-radius: 40px;
	padding: 0px;
}

/* Contact Me */
.contactme {
    height: 150px;
}

#contactme {
    display: block;
    margin: 0 auto;
    text-align: center;
}

/* Web responsiveness */
/* Small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    img.d-block {
        width:510px;
    }
    .add form{
        padding: 50px 20px;
    }
    input.check {
        margin-right: 245px;   
    }
    .pie_chart_content {
        height: 1000px;
    }
    .budget_chart_content {
        height: 750px;
    }
    .main_box {
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
    }
    .count_box {
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
    }
}
  
/* Medium devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 767px) {
    img.d-block {
        width:510px;
    }
    .pie_chart_content {
        height: 1000px;
    }
    .budget_chart_content {
        height: 750px;
    }
    .main_box {
        border-bottom-right-radius: 30px;
        border-top-right-radius: 30px;
    }
    .count_box {
        border-bottom-left-radius: 30px;
        border-top-left-radius: 30px;
    }
    
}

/* Large devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 992px) {
    img.d-block {
        width:280px;
    }
} 
