span {
    font-size: 2em;
    font-family: 'Andika New Basic', sans-serif;
}       

.navbar {
    overflow: hidden;
    background-color: white;
    position: fixed;
    top: 0;
    width: 100%;
    box-shadow: 1px 1px #155c11;
}

.navbar-nav {
    float:none;
    margin:0 auto;
    display: block;
    text-align: center;
}

.navbar-nav > li {
    display: inline-block;
    float:none;
}

.navbar-nav li a {
    color:black;
}

.navbar-nav li a:hover {
    background-color: white;
    color:#51b14b;
}

html {
font-family: Open Sans,sans-serif;
overflow-y: scroll;
height: 1500px;
line-height: 1.66667;
}

/* Test */
.cloud {
    text-align: center;
    box-sizing: border-box;
    width     : 90px;
    height    : 90px;
    padding   : 80px 1em 0 1em;
    margin    : 0 100px;
    position: relative;
    background-color: #A4C9CF;
    border-radius: 100% 100% 0 0;
}

.cloud::before,
.cloud::after {
    content: '';
    position: absolute;
    bottom  : 0;
    z-index : -1;
    background-color: #A4C9CF;
    border-radius: 100%;
}
  
.cloud::before {
    width  : 75px;
    height : 75px;
    left    : -48px;
    border-bottom-right-radius: 0;
}
  
.cloud::after {
    width  : 60px;
    height : 60px;
    right   : -36px;
    border-bottom-left-radius: 0;
}
